<h3>Contact Person</h3>
<table>
    <tr>
        <td>Name</td>
        <td>{{ contact.fname }} {{ contact.lname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td></td>
    </tr>
</table>
